<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
		<title>Sign up - Tefa</title>
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Inter&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese&amp;display=swap" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Montserrat+Alternates&amp;display=swap" />
		<link rel="stylesheet" href="assets/css/swiper-icons.css" />
		<link rel="stylesheet" href="assets/css/Navbar-Centered-Links-icons.css" />
		<link
			rel="stylesheet"
			href="assets/css/Simple-Slider-swiper-bundle.min.css" />
		<link rel="stylesheet" href="assets/css/Simple-Slider.css" />
		<link rel="stylesheet" href="assets/css/Testimonials-Centered-images.css" />
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
			rel="stylesheet" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
			rel="stylesheet" />
	</head>

	<body>
		<section class="py-4 py-md-5 my-5">
			<div class="container py-md-5">
				<div class="row justify-content-center">
					<!-- Image Section -->
					<div
						class="col-md-6 text-center"
						style="max-width: 500px; margin-bottom: 30px">
						<img
							class="img-fluid"
							src="assets/img/ilustrasi/undraw_welcome_cats_thqn%20(2).svg"
							alt="Welcome Cats" />
					</div>
					<!-- Form Section -->
					<div class="col-md-5 col-xl-4 text-center text-md-start">
						<h2 class="display-6 fw-bold mb-5">
							<span
								class="underline pb-1"
								style="
									font-size: 36px;
									color: var(--bs-body-color);
									line-height: normal;
								"
								>Login</span
							>
						</h2>
						<form method="post" data-bs-theme="light">
							<div class="mb-3">
								<input
									class="form-control"
									type="text"
									name="username"
									placeholder="Username" />
							</div>
							<div class="mb-3">
								<input
									class="form-control"
									type="password"
									name="password"
									placeholder="Password" />
							</div>
							<div class="mb-5">
								<button
									class="btn btn-primary shadow"
									type="submit"
									style="background: rgb(13, 110, 253)">
									Login
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<nav class="navbar navbar-expand-md fixed-top bg-body py-3" id="navbar">
			<div class="container">
				<!-- Brand Logo -->
				<a class="navbar-brand d-flex align-items-center" href="#">
					<span
						class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"
						style="
							background: url('assets/img/https___www.pnb-gianyar.ac.id_wp-content_uploads_2022_05_Logo-Politeknik-Negeri-Bali.png')
								center / cover round;
						">
					</span>
					<span></span>
				</a>

				<!-- Navbar Toggler -->
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navcol-1"
					aria-controls="navcol-1"
					aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- Navbar Collapse -->
				<div class="collapse navbar-collapse" id="navcol-1">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link active" href="index.html">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="about.html">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="projects.html">Project</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Order</a>
						</li>
					</ul>
					<!-- Login Button -->
					<button
						class="btn btn-outline-primary rounded-pill px-4 py-2"
						type="button"
						style="font-size: calc(0.9rem + 0.1vw)">
						Login
					</button>
				</div>
			</div>
		</nav>

		<footer class="text-center py-4" style="margin-top: initial">
			<div class="container">
				<div class="row row-cols-1 row-cols-lg-3">
					<div class="col">
						<p class="text-muted my-2">
							Copyright&nbsp;© 2024 Politeknik Negeri Bali
						</p>
					</div>
					<div class="col">
						<ul class="list-inline my-2">
							<li class="list-inline-item me-4">
								<div
									class="bs-icon-circle bs-icon"
									style="
										background: rgba(70, 87, 113, 0);
										border: 1px solid var(--bs-emphasis-color);
									">
									<i
										xmlns="http://www.w3.org/2000/svg"
										width="1em"
										height="1em"
										fill="currentColor"
										viewBox="0 0 16 16"
										class="bi bi-facebook text-black"></i>
								</div>
							</li>
							<li class="list-inline-item me-4">
								<div
									class="bs-icon-circle bs-icon-primary bs-icon"
									style="
										background: rgba(70, 87, 113, 0);
										border: 1px solid var(--bs-emphasis-color);
									">
									<i
										xmlns="http://www.w3.org/2000/svg"
										width="1em"
										height="1em"
										fill="currentColor"
										viewBox="0 0 16 16"
										class="bi bi-twitter text-black">
									</i>
								</div>
							</li>
							<li class="list-inline-item">
								<div
									class="bs-icon-circle bs-icon-primary bs-icon"
									style="
										background: rgba(70, 87, 113, 0);
										border: 1px solid var(--bs-emphasis-color);
									">
									<i
										xmlns="http://www.w3.org/2000/svg"
										width="1em"
										height="1em"
										fill="currentColor"
										viewBox="0 0 16 16"
										class="bi bi-instagram text-black">
									</i>
								</div>
							</li>
						</ul>
					</div>
					<div class="col">
						<ul class="list-inline my-2">
							<li class="list-inline-item">
								<a class="link-secondary" href="#">Privacy Policy</a>
							</li>
							<li class="list-inline-item">
								<a class="link-secondary" href="#">Terms of Use</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<script src="assets/bootstrap/js/bootstrap.min.js"></script>
		<script src="assets/js/bs-init.js"></script>
		<script src="assets/js/Simple-Slider-swiper-bundle.min.js"></script>
		<script src="assets/js/Simple-Slider.js"></script>
	</body>
</html>
