<section id="about" style="min-height: 100vh;background: url(&quot;https://www.korsa.io/images/bg-about.png&quot;) center / cover no-repeat;padding-top: 10em;margin-top: 10em;padding-bottom: 9em;width: 100%;">
    <div class="container" style="width: 90%;max-width: 1292px;margin-left: auto;margin-right: auto;">
        <div class="row">
            <div class="col">
                <h1 data-aos="fade-up" data-aos-duration="600" data-aos-once="true" style="font-size: 1.25em;color: var(--bs-body-bg);">About Us</h1>
                <h1 data-aos="fade-up" data-aos-duration="600" data-aos-once="true" style="font-size: 4.5em;color: var(--bs-body-bg);margin-top: 20px;">Korsa is a Creative Design Agency With Extensive Experience<br>And Talented Team.</h1>
                <p data-aos="fade-up" data-aos-duration="700" data-aos-delay="150" data-aos-once="true" style="font-size: 1.5em;color: var(--bs-body-bg);margin-top: 30px;">We are the ones with the creative idea of ​​creating stunning visuals that grab attention and leave a lasting impression!</p>
            </div>
        </div>
    </div>
</section>